* {
  margin: 0;
  overflow-x: hidden;
}

h1 h2 h3 {
  font-family: "Shrikhand", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@media all and (min-width: 768px) {
  .map-maker__container {
    width: 90%;
    margin: auto;
    border-radius: 50px 50px 0 0;
  }

  .main__container {
    width: 90%;
    margin: auto;
  }
}
/*HEADER*/
.header__container {
  display: flex;
  flex-direction: column;
}
.header__container .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px 0;
}
.header__container .map-maker__container {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px 0;
}
.header__container .map-maker__container p {
  margin-left: 10px;
  font-size: large;
}

/*PRESENTATION DU SITE*/
.presentation__container {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #f6f6f6;
  align-items: center;
  padding: 20px 20px 60px 20px;
}
.presentation__container .presentation__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  font-family: "Roboto", sans-serif;
}
.presentation__container .presentation__text {
  text-align: center;
  font-size: 20px;
}
.presentation__container button {
  height: 60px;
  width: 250px;
  color: white;
  font-size: large;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  margin-top: 30px;
  box-shadow: 0 3px 5px 3px #cccccc;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 300ms;
}
.presentation__container button:hover {
  transform: scale(1.1);
}

/*FONCTIONNEMENT*/
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  height: auto;
}
.fonctionnement__container .fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 50px 0 20px 20px;
}
.fonctionnement__container .fonctionnement__button--container {
  display: flex;
  padding: 20px;
  align-items: center;
  height: auto;
}
.fonctionnement__container .fonctionnement__button--container .puce {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  background: #9356DC;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 2;
}
.fonctionnement__container .fonctionnement__button--container .fonctionnement__button--item {
  height: 60px;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 25px;
  padding: 20px;
  margin-left: -25px;
  z-index: 1;
  box-shadow: 0 3px 5px 3px #cccccc;
  cursor: pointer;
}
.fonctionnement__container .fonctionnement__button--container .fonctionnement__button--item:hover {
  background: #f5edff;
  box-shadow: 0 3px 5px 3px #acabab;
}
.fonctionnement__container .fonctionnement__button--container .fonctionnement__button--item:hover .button__icon {
  color: #9356DC;
}
.fonctionnement__container .fonctionnement__button--container .fonctionnement__button--item .button__icon {
  margin: 0 20px;
  color: #7e7e7e;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .fonctionnement__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fonctionnement__container .fonctionnement__title {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .fonctionnement__container .fonctionnement__button--container {
    flex-direction: row;
    justify-content: center;
  }
}
/*SECTION RESTAURANTS*/
.restaurants__container {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #f6f6f6;
  margin-top: 40px;
}
.restaurants__container .restaurants__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 50px 0 0px 20px;
}
.restaurants__container .restaurants__cards--container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: #f6f6f6;
}
.restaurants__container .restaurants__cards--container .card__container {
  width: 90%;
  border-radius: 25px;
  box-shadow: 0 3px 5px 3px #cccccc;
  margin: 25px auto;
  transition-property: transform;
  transition-duration: 400ms;
  z-index: 1;
}
.restaurants__container .restaurants__cards--container .card__container:hover {
  transform: scale(1.05);
}
.restaurants__container .restaurants__cards--container .card__container .new {
  z-index: 2;
  background: #99e2d0;
  position: relative;
  padding: 8px 15px;
  top: -180px;
  left: 380px;
  right: auto;
  color: #2f6e60;
  font-weight: bold;
  border-radius: 3px;
  opacity: 0.95;
  font-size: small;
  border: none;
}
.restaurants__container .restaurants__cards--container .card__container .card__picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurants__container .restaurants__cards--container .card__container figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 20px 20px;
  font-family: "roboto", sans-serif;
  background: white;
  position: relative;
}
.restaurants__container .restaurants__cards--container .card__container figcaption .figcaption__text p {
  margin-top: 5px;
}
.restaurants__container .restaurants__cards--container .card__container figcaption .new__container {
  position: relative;
  top: -10px;
}
.restaurants__container .restaurants__cards--container .card__container figcaption .figcaption__heart {
  /*font-size: 30px;
  color: $primary-color;
  border: none;
  background: white;

  &:active {
      color: $primary-color;
  }
  &:visited {
      color: $primary-color;
  }*/
}
.restaurants__container .restaurants__cards--container .card__container figcaption .figcaption__heart .fas {
  position: absolute;
}

@media all and (min-width: 768px) {
  .restaurants__container {
    border-radius: 50px 50px 0 0;
  }

  .restaurants__cards--container {
    flex-direction: row !important;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants__cards--container .card__container {
    margin: 50px !important;
    width: 500px !important;
  }

  .restaurants__title {
    width: 100%;
    text-align: center;
    font-size: 30px !important;
    margin: 50px 0 0 0 !important;
  }
}
/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 30px;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
  margin-bottom: 30px;
}
footer .footer__link--container .footer__link {
  display: flex;
  color: white;
}
footer .footer__link--container .footer__link .fas {
  width: 20px;
  margin-right: 10px;
}
footer .footer__link--container p {
  margin-bottom: 10px;
  color: white;
}

@media all and (min-width: 768px) {
  footer {
    text-align: center;
  }

  .footer__title {
    font-size: 30px;
    margin-bottom: 10px !important;
  }

  .footer__link {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.scss.map */
