* {
  margin: 0;
  overflow-x: hidden;
}

body {
  height: auto;
}

h1 h2 h3 {
  font-family: "Shrikhand", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@media all and (min-width: 768px) {
  .map-maker__container {
    width: 90%;
    margin: auto;
    border-radius: 50px 50px 0 0;
  }

  main {
    width: 70%;
    margin: auto;
  }
}
/*HEADER*/
.header__container {
  display: flex;
  flex-direction: column;
}
.header__container .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px 0;
}
.header__container .map-maker__container {
  display: none;
  background: #eaeaea;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px 0;
}
.header__container .map-maker__container p {
  margin-left: 10px;
  font-size: large;
}

main {
  display: flex;
  flex-direction: column;
}

/*IMAGE EN-TETE*/
.picture__container {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  overflow-y: hidden;
}
.picture__container .restaurant__picture {
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media all and (min-width: 768px) {
  .picture__container {
    height: 400px;
    border-radius: 45px 45px 0 0;
  }
}
/*CONTENANT DU MENU*/
.menu__container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding-top: 45px;
  margin-top: -40px;
  border-radius: 45px 45px 0 0;
  background: #f6f6f6;
}
.menu__container .menu__title--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  width: 86%;
  margin: auto;
}

.article__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  opacity: 0;
}
.article__container .article__title {
  margin-top: 35px;
}

.article-items__container {
  display: flex;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 3px #e7e7e7;
  position: relative;
  margin: 10px 0;
}
.article-items__container .check__container {
  width: 0%;
  height: 100%;
  background: #99E2D0;
  position: absolute;
  right: 0;
  transition: 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-items__container .check__container .check {
  color: #99E2D0;
}
.article-items__container .check__container .check .fas {
  font-size: 20px;
  color: #99E2D0;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  background: white;
}
.article-items__container .article__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0 5px 10px;
  margin: 10px 0;
  transition: 400ms;
}
.article-items__container .article__items .article__item--title {
  margin: 5px 0 0 3px;
  font-weight: 900;
}
.article-items__container .article__items .article__item--feat {
  display: flex;
  justify-content: space-between;
  margin: 3px 5px 5px 3px;
  font-size: small;
}
.article-items__container .article__items .article__item--feat .price {
  font-weight: 900;
  margin-right: 20px;
  min-width: 10%;
}
.article-items__container:hover .article__items {
  width: 80%;
}
.article-items__container:hover .check__container {
  width: 20%;
}
.article-items__container:hover .check {
  animation: loop 400ms 1;
}

.article-1 {
  animation: fadein 1s 200ms;
  animation-fill-mode: forwards;
}

.article-2 {
  animation: fadein 1s 400ms;
  animation-fill-mode: forwards;
}

.article-3 {
  animation: fadein 1s 600ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*BOUTON COMMANDER*/
.button__container {
  width: 100%;
  text-align: center;
  padding: 40px 0 60px 0;
}

button {
  height: 60px;
  width: 250px;
  color: white;
  font-size: large;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0 3px 5px 3px #cccccc;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 300ms;
}
button:hover {
  transform: scale(1.1);
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 30px;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
  margin-bottom: 30px;
}
footer .footer__link--container .footer__link {
  display: flex;
  color: white;
}
footer .footer__link--container .footer__link .fas {
  width: 20px;
  margin-right: 10px;
}
footer .footer__link--container p {
  margin-bottom: 10px;
  color: white;
}

@media all and (min-width: 768px) {
  footer {
    text-align: center;
  }

  .footer__title {
    font-size: 30px;
    margin-bottom: 10px !important;
  }

  .footer__link {
    justify-content: center;
  }
}

/*# sourceMappingURL=style-restaurants.css.map */
